<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Concerted Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="@Url.Content("~/Assets/css/bootstrap.css")" rel='stylesheet' type='text/css' />
    <!--Custom Theme files-->
    <link href='//fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Assets/css/style.css")" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/flexslider.css")" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/chocolat.css")" type="text/css" media="all" />
    <link href="@Url.Content("~/Assets/css/animate.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Assets/css/layout.css")" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/fontawesome-all.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/framework.css")">
</head>
<body>
    <div class="banner w3l-1">
        <nav class="navbar navbar-default navbar-fixed-top" style="background-color: red">
            <div class="container" style="padding: initial">
                <div class="navbar-header wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">

                    <!--toggle button-->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <img class="navbar-brand" src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a0/Logo-vlu-2018-wiki.jpg/1200px-Logo-vlu-2018-wiki.jpg" style="padding:initial"></img>
                    </h1>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Login", "Login", "Account")
                        </li>
                        <li>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Questions", "Questions", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("About", "About", "Home")
                        </li>
                        <li><a href="#portfolio" class="scroll">Projects</a></li>
                        <li>
                            @Html.ActionLink("Contact", "Contact", "Home")
                        </li>

                    </ul>

                    <div class="social wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <ul>
                            <li><a href="https://www.facebook.com/truongdaihocvanlang" class="facebook" style="background: url('@Url.Content("~/Assets/img/social.png")') no-repeat 0px 0px"> </a></li>
                            <li><a href="#" class="facebook twitter" style="background: url('@Url.Content("~/Assets/img/social.png")') no-repeat -34px 0px"> </a></li>
                            <li><a href="#" class="facebook chrome" style="background: url('@Url.Content("~/Assets/img/social.png")') no-repeat -68px 0px"> </a></li>
                            <li><a href="#" class="facebook in" style="background: url('@Url.Content("~/Assets/img/social.png")') no-repeat -102px 0px"> </a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </nav>
    </div>
    @RenderBody();

    <script src="@Url.Content("~/Assets/js/jquery-1.11.1.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/js/move-top.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/js/easing.js")"></script>
    <script src="@Url.Content("~/Assets/js/jquery.chocolat.js")"></script>
    <script src="@Url.Content("~/Assets/js/wow.min.js")"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>

    <!--light-box-files -->
    <script type="text/javascript">
        $(function () {
            $('#example1 a').Chocolat();
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#portfolio a').Chocolat();
        });
    </script>

    <!-- animation-effect -->
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
</body>
</html>