@model IEnumerable<dieubanthuonghoi.Models.FOOD>

<!DOCTYPE html>
<html lang="en">
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>List Questions</title>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <h3 class="title-5 m-b-35">data table</h3>
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                    <div class="rs-select2--light rs-select2--md">
                                        <select class="js-select2" name="property">
                                            <option selected="selected">All Properties</option>
                                            <option value="">Option 1</option>
                                            <option value="">Option 2</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--light rs-select2--sm">
                                        <select class="js-select2" name="time">
                                            <option selected="selected">Today</option>
                                            <option value="">3 Days</option>
                                            <option value="">1 Week</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <button class="au-btn-filter">
                                        <i class="zmdi zmdi-filter-list"></i>filters
                                    </button>
                                </div>
                                <div class="table-data__tool-right">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i>
                                        @Html.ActionLink("Create", "Create")
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>
                                            <th>Mã Món Ăn</th>
                                            <th>Tên Món Ăn</th>
                                            <th>Mô Tả</th>
                                            <th>Giá</th>
                                            <th>Hình Ảnh</th>
                                            <th>Còn Hàng</th>
                                            <th>Danh Mục</th>
                                            <th>Hành Động</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FOOD_CODE)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FOOD_NAME)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PRICE)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IMAGE_URL)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.STATUS)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CATEGORY.CATEGORY_CODE)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                </td>
                                            </tr>
                                          }
                                        </tbody>
                                    </table>
                            </div>
                            <!-- END DATA TABLE -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2021 Colorlib. All rights reserved. Template by <a>SEPK24T-Team11</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- end document-->


